body{
    margin: 5%;
    padding-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blue-highlight{
    color: blue;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(5, 5, 109),blue);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    text-align: justify;
   float: left;
}
.half-width img{
    width: 100%;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
  }
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  section{
    height: 500px;
    margin-bottom: 100px;}
.wp{
    text-align: center;
    font-size: 30px;
}
.projects{
width: 1000px;
border: none;
padding-left: 10px;
box-shadow: 10px 10px 40px, grey;
float: left;
text-align: center justify;
}
.w3-container{
    height: 500px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px, grey;
    border-radius: 10px;
    }
    .container{
        position: relative;
        width: 100%;
    }
    .container img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container .btn{
        position: absolute;
        top: 50%;
        left: 68%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: orange;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        text-align: center;
    }
    .container .btn:hover{
        background-color: orangered;
    }
    .container .work{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        font-size: 40px;
        padding: 12px 24px;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    h6{
        text-align: center;
        font-size: 20px;
        color: gray;
        font-family: cursive;
        margin: 0px;
        padding: 0px;
    }
    h3{
        text-align: center;
        font-size: 30px;
        font-family: monospace;
        margin: 0px;
        padding: 5px;
    }
    /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 5px;
    text-align: center;
    display: table-cell;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .img-container{
      position: absolute;
      left: 35%;
      display: block;
      border: none;
  }
  footer p{
    text-align: center;
    font-size: 12px;
}
  .bg-color{
      background-color: #f5f3f3;
      width: 100%;
  }
